@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= hero Section ======= -->
<section id="hero">

    <div class="hero-content" data-aos="fade-up">
        <h2>Welcome to <span>YouCode</span><br>Reservation</h2>

    </div>

    <div class="hero-slider swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('https://pbs.twimg.com/media/ERoOffkU0AE-sYm.jpg');"></div>
            
        </div>
    </div>

</section><!-- End Hero Section -->
<!-- ======= Call To Action Section ======= -->
<section id="call-to-action">
    <div class="container" data-aos="zoom-out">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
                <p class="cta-text">
                    As part of compliance with health measures due to the pandemic.
                    the number of learners who have access to the factory is limited.Therefore, 
                    all students are kindly requested to adhere to the reservation system
                </p>
            </div>
          
        </div>
    </div>
</section><!-- End Call To Action Section -->
